*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
html{
	height: 100%;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}
header{
	min-height: 700px;
}
.lang-selector{
	float: right;
}
.lang-selector > button{
	height: 22px;
}

.header-contact{
	background: #0F7171;
	float: left;
	font-size: 12px;
	line-height: 1.7;
	height: 22px;
	border-radius: 3px;
}
.header-contact a {
	display: inline-block;
	padding: 0 10px;
	border-radius: 3px;	color: #fff;
	opacity: 0.7;

}
.header-contact a:hover {
	opacity: 1;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
.navbar-transparent {
	margin-top: 30px;
	background-color: transparent !important;
}

.navbar-default .navbar-brand {
	color: #FFF;
}
.navbar-brand {
	font-family: Marmelad;
}

.navbar-default .navbar-nav > li > a {
	color: #adadad;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #FFF;
	-webkit-transition: color 0.3s ease-out;
	-moz-transition: color 0.3s ease-out;
	-o-transition: color 0.3s ease-out;
	transition: color 0.3s ease-out;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #FFF;
	background-color: transparent;
	background-image: none;
}
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
	font-weight: 800;
}

.navbar-default{
	background-image: none;
	border: none;
}
.navbar-collapse {
	padding-right: 0;
}
.navbar-brand > img {
	display: none;
}
.nav_portreit{
	float: left;
	margin: -15px 5px 0 0;
	height: 50px;
}

.header-avatar{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.header-avatar img{
	width: 140px;
}

.header-description{
	display: table-cell;
	vertical-align: middle;
	padding: 0px 15px;

	color: #FFF;
	background-color: rgba(15, 113, 113, 0.5)
}
.header-social-links{
	list-style-type: none;
	display: block;
}
.header-social-links li{
	display: inline-block;
	width: 20%
}
.header-social-links li a{
	display: block;
}

.aaa{

	height: 2000px;
}





